{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
<h1>Bienvenue sur votre profil</h1>

<p>Votre Email :{{ user.email }}</p>
<p>votre Rôle :
{% for role in user.roles %}
    {% if role == 'ROLE_ADMIN' %}
        Administrateur
    {% elseif role == 'ROLE_USER' %}
        Utilisateur
    {% endif %}
{% endfor %}
</p>

<form action="{{ path('app_profile_change_password') }}" method="GET">
    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
</form>




{% endblock %}
