{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<h1>Bienvenue sur votre profil</h1>

<p>Votre Email :{{ user.email }}</p>
<p>Votre Rôle :</strong> {{ user.roles|join(', ') }}</p>
<form action="{{ path('app_profile_change_password') }}" method="GET">
    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
</form>




{% endblock %}

